.navContainer {
  display: flex;
  flex-direction: row;
  background-color: #ffffff00;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background: #2d303a2c;
  width: 100%;
  padding-top: 10px;
}  

.nav {
  display: flex;
  flex-direction: row;
  background-color: #ffffff00;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 30px;
  background: #2d303a2c;
  width: 100%;
  transition: all 0.15s ease-in-out;
  padding-top: 10px;
  padding-right:150px;
 
}  

.button {
  border-radius: 10px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2px;
  background: #ffffff00;
  padding: 10px 20px 10px 20px;
  color: #818183;
  line-height: 16px;
  border: 0px solid #18191e;
  transition: color 0.3s ease-in-out;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inherit;
  justify-content: left;
  align-items: inherit;
  line-height: 30px;
  font-family: var(--font-mono);
}

.dropdown {
  border-radius: 10px;	
  border: 0px solid #18191e;
  margin-top:20px;
  font-size: 16px;
  font-weight: 500;
  justify-items: center;
  width: 200px;
  background: #18191e;  
  line-height: 30px;
  padding: 10px 30px 10px 30px;
}
.gradientText {
  color: #a5a5aa;
  display: inherit;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  font-family: var(--font-mono);
}
.gradientText2 {
  background: #9e9ea1;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  font-style: normal;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.dropdowentexttop {
  background: #adadaf;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (max-width: 1000px) {
  .navContainer {
    display: none !important;
  }
}
